<app-menu></app-menu>

<ng-outlet></ng-outlet>

<!-- Loading indicator -->
<div ngplus-overlay ngplus-overlay-delay-in="50" ngplus-overlay-delay-out="700" ngplus-overlay-animation="fader-animation">
    <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
    <div id="page-loading">
        <div id="page-loading-block1" class="page-loading-block"></div>
        <div id="page-loading-block2" class="page-loading-block"></div>
        <div id="page-loading-block3" class="page-loading-block"></div>
    </div>
</div>

<app-footer></app-footer>