<app-menu navline="vm.navline"></app-menu>

<section id="cont" class="content">

    <!-- Main View -->
    <div view class="shuffle-animation">
        <ng-outlet></ng-outlet>
    </div>

    <!-- Loading indicator -->
    <div ngplus-overlay ngplus-overlay-delay-in="50" ngplus-overlay-delay-out="700" ngplus-overlay-animation="dissolve-animation">
        <img src="images/busy.gif" />

        <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
    </div>

</section>

<app-footer></app-footer>