/*
  =====================
  [Fonts]
  =====================
*/
// Bootstrap fonts
$icon-font-path: "../assets/fonts/bootstrap/";

// Font-awesome fonts
$fa-font-path: "../assets/fonts/";

/*
  =====================
  [Colors]
  =====================
*/

// Animation colors
$colorMain: #82BFF0;
$colorDark: #1B1D2A;

/*
  =====================
  [Transitions]
  =====================
*/

$defaultTransition: 0.5s;

/*
  =====================
  [Bootstrap Overrides]
  =====================
*/
